@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.markdown h2 {
  @apply text-2xl font-bold bg-mid-gray text-white mt-10 mb-4 p-2 scroll-mt-12;
}

.markdown h3 {
  @apply text-xl font-bold border-b-2 border-mid-gray mt-4 mb-2 scroll-mt-12;
}

.markdown p {
  @apply my-2;
}

.markdown ol {
  @apply list-decimal ml-8
}

.agenda h2 {
  @apply text-lg text-mid-gray ml-4 my-2;
}

.agenda h3 {
  @apply text-base text-mid-gray ml-8 my-2;
}